.header{
  font-weight: semibold;
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0;

  &__container{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      height: 150px;
    } 

    &__logo{
     margin-left: 2.6rem;
     display: flex;
    flex-direction: row;
    align-items: center;
    
      @include desktop {
       margin-left: 10rem;
      }

      &__svg{
        height: 23px;
        @include desktop {
          height: 32px;
          
        }
      }
      &__name{
        text-decoration: none;
        color: $white;
        font-size: 1.2rem;
        font-weight: $semibold;
        margin-left: 13px;
        @include desktop {
          font-size: 1.6rem;
          margin-left: 2.9rem;
        }
      }
    }
    &__link{
      text-align: right;
      margin-right: 2.6rem;
    }
  }
}
.--header_links{
  color: $white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: $medium;
  cursor: pointer;
  @include desktop {
    margin-right: 10rem;
  }
}

