.Displayer{
  margin-top: 70px;
  &_container{

    @include for-size(tablet-portrait-up){
      height: 100vh;
    }
  }
  &_visual{
  }
  &_visualImg{
    height: 244px;
    @include for-size(desktop-up){
      height: 400px;
    }
  }
  &_infosTitle{
    font-weight: $bold;
    font-size: 2.6rem;
    margin-top: 70px;
    color: $textColorStrong;
  }
  &_stackTitle{
    font-size: 1.4rem;
    margin-top: 20px;
    font-style: italic;
  }
  &_stackContainer{
    margin-top: 5px;
    font-size: 1.4rem;
  }
  &_infosText{
    margin-top: 2.1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}
.Control{
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  flex-direction: column;
  cursor: pointer;
  &_container{
    position: relative;
    border-bottom: 1px solid $fushia;
    height: 24px;
    width: 30px;
    transition: All ease-out .2s;
    overflow: visible;
    @include for-size(tablet-portrait-up){
      width: 100px;
    }
  }
  &_container:hover{
    width: 20px;
    @include for-size(tablet-portrait-up){
      width: 80px;
    }
  }
  &_direction{
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    @include for-size(tablet-portrait-up){
      bottom: -6px;
    }
  }
}
.Control-right{
  right: 0px;
}
.--leftDirection{
  right: 17px;
  @include for-size(tablet-portrait-up){
    right: 120px;
  }
}
.--rightDirection{
  left: 17px;
  @include for-size(tablet-portrait-up){
    left: 120px;
  }
}
