/*
.about{
  display: block;
  color: $textColorStrong;
  position: relative;

  &__container{
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    font-weight: $semibold;
    margin-top: 52vh;
    padding-bottom: 5rem;

      @include for-size(tablet-portrait-up) {
        font-size: 3rem;
      }

      @include for-size(desktop-up) {
        margin-left: 10rem;
        font-size: 5rem;
        margin-right: 10rem;
      }
    &__link{
      color: $lightGreen !important;
    }
    &__title{
    font-size: 1.8rem;
    line-height: 2.7rem;

      @include for-size(tablet-portrait-up) {
      font-size: 3rem;
      }

      @include for-size(desktop-up) {
      font-size: 5rem;
      }
    }
    &__text{
      font-size: 1.8rem;
      line-height: 2.7rem;
      padding-top: 1.8rem;

      @include for-size(tablet-portrait-up) {
        font-size: 3rem;
        line-height: 3.7rem;
        padding-top: 6rem;
      }
      @include for-size(desktop-up) {
        padding-top: 12.5rem;
        line-height: 7.5rem;
        font-size: 5rem;
      }

    }

    &__linkBox{
      margin-left: 2.6rem;
      margin-right: 2.6rem;

      @include for-size(tablet-portrait-up){

      }
      @include for-size(desktop-up) {
        margin-right: 10rem;
        margin-left: 10rem;
        padding-bottom: 20rem;
      }
      &__title{
        padding-top: 4.5rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $textColorLight;
        font-weight: 300;

        @include for-size(tablet-portrait-up) {
          font-size: 2.1rem;
        }
        @include for-size(desktop-up) {
          font-size: 2.8rem;
        }
      }
      &__links{
        font-size: 3.5rem;
        color: $textColorStrong;
        line-height: 5.3rem;
        display: flex;
        flex-direction: column;
        font-weight: $semibold;
        padding-top: 2.5rem;
        flex-wrap: wrap;

        @include for-size(tablet-portrait-up) {
          font-size: 5rem;
          flex-direction: row;
        }
      }
    }
  }
  }

.about--fade{
  display: none;
  transition: ease-out 0.4s;
}
.ext-link{
  padding-right: 1.8rem;
  transition: ease-out 0.2s;
}
.ext-link:hover{
  color: $lightGreen !important;
}
.ext-link::before{
  @include for-size(desktop-up){
    content:"-";
    padding-right: 1.8rem;
  }
}
.ext-link:first-child::before {
    display: none;
}
.bg__animate{
  position: fixed;
  z-index: -1;
  font-weight: $bold;
  opacity: 0.03;
  top: 50vh;
  margin-left: 2.6rem;
  transform: translateY(-50%);

  @include for-size(desktop-up){
    margin-left: 10rem;
  }
}
*/
.About{
  //display: none;
  position: absolute;
  z-index: 1000;
  background: $lightGrey;
  font-size: 5rem;

}
