.Displayer{
  &_container{

  }
  &_imgContainer{
    cursor: pointer;
    width: 244px;
    height: 244px;
    margin: 0 auto;
    position: relative;
    @include for-size (tablet-portrait-up){
      width: 400px;
      height: 400px;
    }
  }
  &_img{
    width: 100%;
    opacity: 0;
    transform: translateY(100);
  }
  &_counter{
    height: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }
  &_counterState{
    font-size: 1.2rem;
    padding: 0 15px;
    color: $textColorLight;
  }
  &_counterBar{
    height: 2px;
    background: #D0D0D0;
    width: 50px;
  }
  &_counterFill{
    height: 100%;
    width: 0%;
    background: $fushia;
  }
}
.Displayer_imgContainer::before{
  content: 'Voir le site';
  width: 400px;
  height: 400px;
  background: #000;
  opacity: 0.5;
  position: absolute;
  color: #fff;
  text-align: center;
  z-index: 2;
  display: none;
}
.Displayer_imgContainer:hover>::before{
  display: block;
}
