/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

.body {
  background-color: #333745;
  font-family: 'Raleway', sans-serif; }

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit; }

input, button, submit {
  border: none; }

.header {
  font-weight: semibold;
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0; }
  .header__container {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 1024px) {
      .header__container {
        height: 150px; } }
    .header__container__logo {
      margin-left: 2.6rem;
      display: flex;
      flex-direction: row;
      align-items: center; }
      @media (min-width: 1024px) {
        .header__container__logo {
          margin-left: 10rem; } }
      .header__container__logo__svg {
        height: 23px; }
        @media (min-width: 1024px) {
          .header__container__logo__svg {
            height: 32px; } }
      .header__container__logo__name {
        text-decoration: none;
        color: #F8FAF8;
        font-size: 1.2rem;
        font-weight: 600;
        margin-left: 13px; }
        @media (min-width: 1024px) {
          .header__container__logo__name {
            font-size: 1.6rem;
            margin-left: 2.9rem; } }
    .header__container__link {
      text-align: right;
      margin-right: 2.6rem; }

.--header_links {
  color: #F8FAF8;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer; }
  @media (min-width: 1024px) {
    .--header_links {
      margin-right: 10rem; } }

.about {
  display: block;
  color: #F8FAF8;
  position: relative;
  width: 100vw; }
  .about__container {
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    font-weight: 600;
    margin-top: 52vh;
    padding-bottom: 5rem; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .about__container {
        font-size: 3rem; } }
    @media (min-width: 1024px) {
      .about__container {
        margin-left: 10rem;
        font-size: 5rem;
        margin-right: 10rem; } }
    .about__container__link {
      color: #FF1654 !important; }
    .about__container__title {
      font-size: 1.8rem;
      line-height: 2.7rem; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .about__container__title {
          font-size: 3rem; } }
      @media (min-width: 1024px) {
        .about__container__title {
          font-size: 5rem; } }
    .about__container__text {
      font-size: 1.8rem;
      line-height: 2.7rem;
      padding-top: 1.8rem; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .about__container__text {
          font-size: 3rem;
          line-height: 3.7rem;
          padding-top: 6rem; } }
      @media (min-width: 1024px) {
        .about__container__text {
          padding-top: 12.5rem;
          line-height: 7.5rem;
          font-size: 5rem; } }
    .about__container__linkBox {
      margin-left: 2.6rem;
      margin-right: 2.6rem; }
      @media (min-width: 1024px) {
        .about__container__linkBox {
          margin-right: 10rem;
          margin-left: 10rem;
          padding-bottom: 20rem; } }
      .about__container__linkBox__title {
        padding-top: 4.5rem;
        font-size: 1.4rem;
        line-height: 2.1rem; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .about__container__linkBox__title {
            font-size: 2.1rem; } }
        @media (min-width: 1024px) {
          .about__container__linkBox__title {
            font-size: 2.8rem; } }
      .about__container__linkBox__links {
        font-size: 3.5rem;
        color: #F8FAF8;
        line-height: 5.3rem;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        padding-top: 2.5rem;
        flex-wrap: wrap; }
        @media (min-width: 1024px) {
          .about__container__linkBox__links {
            font-size: 5rem;
            flex-direction: row; } }

.about--fade {
  display: none;
  transition: ease-out 0.4s; }

.ext-link {
  padding-right: 1.8rem; }

.ext-link:hover {
  color: #FF1654 !important; }

@media (min-width: 1024px) {
  .ext-link::before {
    content: "-";
    padding-right: 1.8rem; } }

.ext-link:first-child::before {
  display: none; }

.bg__animate {
  position: fixed;
  z-index: -1;
  font-weight: 700;
  opacity: 0.1;
  top: 50vh;
  transform: translateY(-50%);
  height: 30vh;
  width: 100vh; }
