.Displayer{
  &_container{

  }
  &_imgContainer{
    cursor: pointer;
    width: 244px;
    height: 244px;
    margin: 0 auto;
    position: relative;
    transition: all ease-out .2s;
    @include for-size (tablet-portrait-up){
      width: 400px;
      height: 400px;
    }
  }
  &_imgContainer:hover{
    opacity: 0.5;
  }
  &_img{
    width: 100%;
    opacity: 0;
    transform: translateY(100);
  }
  &_counter{
    height: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }
  &_counterState{
    font-size: 1.2rem;
    padding: 0 15px;
    color: $textColorLight;
  }
  &_counterBar{
    height: 2px;
    width: 50px;
  }
  &_counterFill{
    height: 100%;
    width: 0%;
    background: $textColorLight;
  }
}

